$primary : #62D822;
$secondary : #00A487;
$black : #2F4858;
$danger : #FF2C77;
$warning : #F4D7C7;
$info : #00667D;

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Icon
@import "../../node_modules/@iconscout/unicons/css/line.css";

// DataTable
@import "../../node_modules/datatables.net-dt/css/jquery.dataTables.min.css";
