@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.home{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.home__content h1{
    font-size: 400%;
}
.home__content p{
    font-size: 150%;
    width: 80%;
    margin: auto;
}
.testimonials__content p:first-child{
    background: white;
    font-size: 20px;
    border-radius: 45px 0px 45px 0;
    padding: 10px 15px;
}
.testimonials__user img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
}
.swiper-wrapper{
    height: auto !important;
}
.swiper-button-next, .swiper-button-prev{
    top: 70% !important;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
    color: #00C896 !important;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
    color: #00C896 !important;
}
